{% extends 'main/base.html' %}

{% block content %}
<h1 class="text-3xl m-4 font-serif font-bold text-cyan-950">Add Task</h1>

<form class="p-8 mt-4 space-y-2 bg-white shadow-lg rounded-md" method="post" action=".">
    {% csrf_token %}
    
    <!-- Error Message -->
    {% if error_message %}
    <div class="text-red-500 font-medium mb-4">
        <p>{{ error_message }}</p>
    </div>
    {% endif %}
    
    <div>
        <label class="text-cyan-950 font-medium">Title</label><br/>
        <input name="name" type="text" class="w-full p-4 bg-gray-200 rounded-md mt-2" required>
    </div>

    <div>
        <label class="text-cyan-950 font-medium">Description</label><br/>
        <textarea name="description" class="w-full p-4 bg-gray-200 rounded-md mt-2"></textarea>
    </div>

    <div>
        <label class="text-cyan-950 font-medium">Priority</label><br/>
        <div class="flex space-x-8 mt-2 mb-6">
            <label class="flex items-center">
                <input name="priority" type="radio" value="low" {% if request.POST.priority == 'low' or not request.POST.priority %}checked{% endif %} class="mr-2">
                Low
            </label>
            <label class="flex items-center">
                <input name="priority" type="radio" value="medium" {% if request.POST.priority == 'medium' %}checked{% endif %} class="mr-2">
                Medium
            </label>
            <label class="flex items-center">
                <input name="priority" type="radio" value="high" {% if request.POST.priority == 'high' %}checked{% endif %} class="mr-2">
                High
            </label>
        </div>
    </div>

    <div>
        <label class="text-cyan-950 font-medium">Due Date</label><br />
        <input 
            name="due_date" 
            type="date" 
            id="due_date"
            class="w-full p-4 bg-gray-200 rounded-md mt-2" 
            value="{{ due_date }}" 
            min="{{ today }}" 
            required>
    </div>

    <div>
        <button class="bg-cyan-950 text-center text-white rounded-md p-4 w-full mt-2">Submit</button>
    </div>
</form>

{% endblock %}
